<div class="job  " id="job_1000055119">
 <div class="inner">
  <a class="job_icon" style="background-image: url('https://habrastorage.org/getpro/moikrug/uploads/company/100/006/171/4/logo/medium_3fe4fde0310e03a9fd4d516236b8d783.png')" href="/vacancies/1000055119"></a>
  <span class="date">18 ноября 2019</span>
  <div class="info">
   <div class="title" title="Java разработчик ">
    <a href="/vacancies/1000055119">Java разработчик </a>
   </div>
   <div class="skills">
    <a class="skill" href="/vacancies?divisions%5B%5D=backend">Бэкенд</a>
    <span class="bull"> • </span>
    <a class="skill" href="/vacancies?qid=4">Средний (Middle)</a>
    <span class="bull"> • </span>
    <a class="skill" href="/vacancies?skills%5B%5D=1012">Java</a>
   </div>
   <div class="meta v2">
    <span class="company_name"><a href="/companies/a-3">А3</a></span> •
    <span class="location"><a href="/vacancies?city_id=678">Москва</a></span>
    <span class="occupation"><span class="bull"> • </span>Полный рабочий день</span>
   </div>
   <div class="salary"></div>
  </div>
 </div>
</div>